<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Salão Diva</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
   
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.print.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.js"></script>
    <!--[endif]-->
    

</head>
<body  class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b>I</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Salão</b>Ieda</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            @Html.ActionLink("Sair", "Logout", "Usuarios")
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">Menu Principal</li>

                    <li class="treeview"> 
                        <a href="/Home/index"><i class="fa fa-home icon-config"></i><span>Home</span></a>
                    </li>

                    <li class="treeview">
                        <a href="/Agenda/index"><i class="fa fa-calendar icon-config"></i><span> Agenda</span></a>
                    </li>

                    <li class="treeview">
                        <a href="/Clientes/index"><i class="fa fa-users icon-config"></i><span> Clientes</span></a>
                    </li>

                    <li class="treeview">
                        <a href="/Pagamentos/index"><i class="fa fa-money icon-config"></i><span> Pagamentos</span></a>
                    </li>

                    <li class="treeview">
                        <a href="/Servicos/index"><i class="fa fa-history icon-config"></i><span> Serviços</span></a>
                    </li>

                    <li class="treeview">
                        <a href="/Telefones/index"><i class="fa fa-phone icon-config"></i><span> Telefones</span></a>
                    </li>

                    <li class="treeview">
                        <a href="/Tipos_Servico/index"><i class="fa fa-question-circle icon-config"></i><span> Cadastro de Serviços </span></a>
                    </li>

                    <li class="treeview">
                        <a href="/Tipos_Pagamento/index"><i class="fa fa-calculator icon-config"></i><span> Cadastro de Pagamentos </span></a>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <section class="content">
                <div>
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>

    @*carregar scripts no fim da pagina para ser mais rapido*@
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <!-- css customizado para deixar icones com tamanho padrao-->
    <link href="~/Content/PanelContent/css/customCss.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the content/dist/css/skins folder  -->
    <link href="~/Content/dist/css/skins/skin-yellow.css" rel="stylesheet" />
    <!--ESTILO DOS CAMPOS INPUT FILE documentação -> http://markusslima.github.io/jquery-filestyle/ -->
    <link href="~/Content/PanelContent/js/jquery-filestyle.css" rel="stylesheet" />

    
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/fastclick/fastclick.js"></script>
    <script src="~/Content/PanelContent/js/app.js"></script>
    <script src="~/Content/PanelContent/js/jquery-filestyle.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
